body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100vw;
}
.form,
.header,
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 900px; */
    justify-content: space-evenly;
}
.header {
    height: 40vh;
    width: 100%;
    /* position: relative; */
    /* display: inline-flex; */
}
.header > img {
    height: 50vh;
    width: auto;
}
.form > * {
    padding: 5px;
    margin: 1vh;
}
input {
    border: 1px solid rgb(44, 107, 93);
    border-radius: 5px;
    background-color: rgba(85, 85, 85, 0.589);
}
input:hover {
    border: 2px solid rgb(44, 107, 93);
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.726);
}
.button {
    background-color: rgb(14, 22, 20);
    border: 1px solid rgb(44, 107, 93);
    border-radius: 8px;
    padding: 32px 32px;
    color: rgb(124, 31, 31);
}
.button:hover {
    background-image: url("http://pngimg.com/uploads/rock_music/rock_music_PNG77.png");
    background-size: cover;
    color: cornsilk;
    background-color: black;
    border: none;
}
.error {
    color: brown;
}
p > a {
    color: rgb(124, 31, 31);
    text-decoration: none;
}
/* .logo {
    height: 10vh;
    width: 10vw;
} */
#profile-picture {
    display: inline-flex;
    /* justify-content: flex-end; */
    width: 100px;
    height: 100px;
}
#app-component {
    display: unset;
}
#friends-requests {
    display: flex;
    flex-direction: column;
}
.friends {
    display: flex;
    max-width: 900px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
.friends > div {
    padding: 10px;
    height: 40vh;
    width: 20vw;
}
.friends > div > img {
    max-height: 100%;
    max-width: 100%;
}
.requests {
    display: flex;
    max-width: 900px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
.requests > div {
    padding: 10px;
    height: 40vh;
    width: 20vw;
}
.requests > div > img {
    max-height: 100%;
    max-width: 100%;
}
hr {
    border: 1px solid;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.heade-links {
    display: flex;
    flex-direction: column;
}
#the-x {
    width: 25px;
    right: 0;
}
.uploader {
    margin: 5vw;
}
#upload-input > * {
    padding: 3px;
    margin: 5px;
}
